<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lỗi <%= statusCode %></title>
  </head>
  <body>
    <div class="container">
      <!-- <h1>Lỗi <%= statusCode %></h1> -->
      <p><%= message %></p>
      <a href="/projects">Quay lại trang chủ</a>
    </div>
  </body>
</html>
