<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      .student-row {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <button id="toggle">Show Form</button>
      <div class="d-none" id="form">
        <form
          id="userForm"
          action="/project/add"
          method="post"
          enctype="multipart/form-data"
        >
          <div>
            <label for="name">Project Name</label>
            <input id="name" type="text" name="name" />
          </div>
          <div>
            <label for="semester">Semester</label>
            <select name="semester" id="semester">
              <option value="fall">Fall</option>
              <option value="spring">Spring</option>
            </select>
          </div>
          <div>
            <label for="year">Year</label>
            <input
              id="year"
              type="number"
              name="year"
              min="2000"
              max="2100"
              placeholder="YYYY"
            />
          </div>
          <div>
            <label for="course">Course</label>
            <select name="course" id="course">
              <option value="SE2">SE2</option>
              <option value="SQA">SQA</option>
            </select>
          </div>
          <div>
            <label> Files: </label>
            <input type="file" id="file" class="file" name="file" multiple />
          </div>

          <div>
            <h3>Danh sách sinh viên</h3>
            <div id="studentsContainer">
              <div class="student-row">
                <input
                  type="text"
                  name="students[0][name]"
                  placeholder="Tên sinh viên"
                />
                <input
                  type="text"
                  name="students[0][id]"
                  placeholder="Mã sinh viên"
                />
                <button class="removeStudentBtn">X</button>
              </div>
            </div>

            <br />
            <button id="addStudentBtn">Thêm sinh viên</button>
          </div>
          <br />
          <input type="submit" value="Upload Project" />
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>

    <script>
      window.addEventListener("load", function () {
        let form = document.querySelector("#form");
        let toggleButton = document.querySelector("#toggle");

        toggleButton.addEventListener("click", function () {
          form.classList.toggle("d-none");
          toggleButton.innerHTML = form.classList.contains("d-none")
            ? "Show Form"
            : "Hide Form";
        });
        let studentIndex = 1;
        const container = document.getElementById("studentsContainer");
        const addStudentBtn = document.querySelector("#addStudentBtn");
        const removeStudentBtn = document.querySelector("#removeStudentBtn");
        addStudentBtn.addEventListener("click", function () {
          const row = document.createElement("div");
          row.classList.add("student-row");

          row.innerHTML = `
                <input type="text" name="students[${studentIndex}][name]" placeholder="Tên sinh viên" >
                <input type="text" name="students[${studentIndex}][id]" placeholder="Mã sinh viên" >
                <button class="removeStudentBtn">X</button>
            `;

          container.appendChild(row);
          studentIndex++;
        });
        container.addEventListener("click", function (event) {
          if (event.target.classList.contains("removeStudentBtn")) {
            event.target.parentElement.remove();
          }
        });
        document
          .querySelector("#userForm")
          .addEventListener("submit", async function (event) {
            event.preventDefault();

            let name = document.querySelector("#name").value;
            let semester = document.querySelector("#semester").value;
            let year = document.querySelector("#year").value;
            let course = document.querySelector("#course").value;
            let student = document.querySelector("#student").value;
            const files = document.getElementById("file");
            let studentNames = document.querySelectorAll(
              'input[name="student_name[]"]'
            );
            let studentIds = document.querySelectorAll(
              'input[name="student_id[]"]'
            );

            let data = new FormData();
            data.append("user", name);
            data.append("semester", semester);
            data.append("year", year);
            data.append("course", course);
            for (let i = 0; i < files.files.length; i++) {
              data.append("files", files.files[i]);
            }
            let response = await fetch("/project/add", {
              method: "POST",
              body: data,
            });
          });
      });
    </script>
  </body>
</html>
